<template>
  <button v-bind:class="kind" @click="$emit('click', $event)">
      <slot></slot>
  </button>
</template>

<script>
export default {
    name: 'TButton',
    props: {
        kind: {
            default: 'outline',
            validator: function (value) {
                // The value must match one of these strings
                return ['outline', 'primary', 'destructive'].indexOf(value) !== -1
            }
        }
    }
}
</script>

<style lang="scss" scoped>
button {
    border: 1px solid transparent;
    border-radius: 1px;
    box-sizing: border-box;
    font-family: Benton Sans, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    min-width: 84px;
    padding: 0 24px;
    overflow-wrap: unset;

    &.outline {
        border-color: rgb(203, 203, 203);
        color: rgba(0, 0, 0, 0.8);
        background-color: transparent;
        &:active { 
            background-color: rgb(245, 245, 245);
        }
        &:disabled {
            background-color: transparent;
            border-color: rgb(51, 51, 51);
            color: black;
            opacity: 0.35;
        }
    }
    &.primary {
        border-color: rgb(45, 204, 151);
        color: white;
        background-color: rgb(45, 204, 151);
        &:active {
            background-color: rgb(47, 163, 125);
        }    
        &:disabled {
            background-color: rgb(180, 180, 180);
            border-color: rgb(180, 180, 180);
            color: black;
            opacity: 0.35;
        }
    }
    &.destructive {
        border-color: rgb(235, 68, 84);
        color: white;
        background-color: rgb(235, 68, 84);
        &:active {
            background-color: rgb(201, 58, 71);
        }
        &:disabled {
            background-color: rgb(180, 180, 180);
            border-color: rgb(180, 180, 180);
            color: black;
            opacity: 0.35;
        }                
    }
    &:hover {
        border: 1px solid black;
    }
}
</style>