<template>
  <div class="checkbox-wrapper">
    <input
      type="checkbox"
      v-bind:id="checkboxID"
      v-bind:class="{ checked: isChecked }"
      :checked="isChecked"
      v-on:change="onStateChanged"
      :disabled="disabled"
    />
    <label v-bind:for="checkboxID" v-bind:class="{ checked: isChecked } ">
      <slot></slot>
    </label>
  </div>
</template>

<script>
export default {
  name: "TCheckbox",
  data() {
    return {
      checkboxID: "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
        /[xy]/g,
        function(c) {
          var r = (Math.random() * 16) | 0,
            v = c == "x" ? r : (r & 0x3) | 0x8;
          return v.toString(16);
        }
      )
    };
  },
  model: {
    prop: "checked",
    event: "change"
  },
  props: {
    checked: {
      default: false
    },
    disabled: {
        type: Boolean,
        default: false
    },
    val: {}
  },
  computed: {
    isChecked() {
      if (
        typeof this.checked === "string" ||
        typeof this.checked === "boolean"
      ) {
        return !!this.checked;
      } else {
        return this.checked.includes(this.val);
      }
    }
  },
  methods: {
    onStateChanged: function() {
        if (
            typeof this.checked === "string" ||
            typeof this.checked === "boolean"
        ) {
            this.$emit("change", !this.checked);
        } else {
            const checked = this.checked.slice();
            const found = checked.indexOf(this.val);
            if (found !== -1) {
                checked.splice(found, 1);
            } else {
                checked.push(this.val);
            }
            this.$emit("change", checked);
        }
    }
  }
};
</script>

<style lang="scss" scoped>
div {
  display: inline-flex;
}
input {
  box-sizing: border-box;
  flex-shrink: 0;
  height: 14px;
  margin: 0;
  margin-top: 3px;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  width: 14px;
}
label {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  color: rgba(0, 0, 0, 0.8);
  cursor: default;
  font-family: Benton Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  user-select: none;
  &:not(:empty) {
    padding-left: 6px;
  }
  &:before {
    background-color: white;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 1px;
    box-sizing: border-box;
    content: "\200B";
    display: inline-block;
    height: 14px;
    left: -14px;
    position: absolute;
    top: 3px;
    width: 14px;
  }
  &.checked:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16'%3E%3Cpath fill='rgb(102, 102, 102)' transform='translate(-2, -2)' d='M7.2 12.3c-.2 0-.4-.1-.5-.2l-3-3L4.8 8l2.3 2.3 4-6.7 1.3.8L7.9 12c-.2.2-.4.3-.7.3z'/%3E%3C/svg%3E");
  }
  &.checked:hover:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16'%3E%3Cpath fill='rgb(51, 51, 51)' transform='translate(-2, -2)' d='M7.2 12.3c-.2 0-.4-.1-.5-.2l-3-3L4.8 8l2.3 2.3 4-6.7 1.3.8L7.9 12c-.2.2-.4.3-.7.3z'/%3E%3C/svg%3E");
  }
  &:hover:before {
    border-color: rgb(51, 51, 51);
  }
  &.disabled {
    color: rgba(0, 0, 0, 0.35);
  }
  &.disabled:before {
    border-color: rgb(51, 51, 51);
    opacity: 0.35;
  }
}
</style>