<template>
    <div :class="['dropdown-wrapper', kind, { disabled: disabled }]">
        <select :class="kind" :disabled="disabled" @change="selectOption($event)">
            <option v-if="placeholder" disabled hidden :selected="value === null"> {{ placeholder }}</option>
            <option v-for="option in options" v-bind:key="option.id" :selected="option.id === value">
                {{ option.text }}
            </option>
        </select>
    </div>
</template>

<script>
export default {
    name: "TDropdown",
    props: {
        kind: {
            type: String,
            default: "outline",
            validator: function(value) {
                return ["icon", "line", "outline"].indexOf(value) !== -1;
            },
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        options: {
            type: Array,
        },
        value: { type: [String, Number] },
        placeholder: {
            type: String,
        },
    },
    methods: {
        selectOption($event) {
            // note that $event.target.options are the option HTML elements
            // and this.options is the array of data options
            const options = $event.target.options;
            this.$emit("input", this.options[options.selectedIndex].id);
        },
    },
};
</script>

<style lang="scss" scoped>
.dropdown-wrapper {
    border-color: rgb(203, 203, 203);
    box-sizing: border-box;
    display: inline-block;
    height: 0;
    min-height: 24px;
    position: relative;

    &:active:not(.disabled),
    &:hover:not(.disabled) {
        border-color: rgb(51, 51, 51);
    }
    &:focus-within:not(.disabled) {
        border-color: rgb(45, 204, 151);
    }
}

.dropdown-wrapper.outline {
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    &::after {
        background: rgb(230, 230, 230);
        bottom: 0;
        content: "\200B";
        pointer-events: none;
        position: absolute;
        right: 18px;
        top: 0;
        width: 1px;
    }
}

.dropdown-wrapper.line {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.dropdown-wrapper > select {
    padding-left: 6px;
    padding-right: 24px;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cpath%20fill%3D%22rgb(102%2C%20102%2C%20102)%22%20d%3D%22M5.8%2C7.3l3.5%2C4.6c0.1%2C0.1%2C0.2%2C0.1%2C0.3%2C0l3.6-4.6C13.3%2C7.1%2C13.2%2C7%2C13%2C7H6C5.8%2C7%2C5.7%2C7.1%2C5.8%2C7.3z%22%2F%3E%3C%2Fsvg%3E");
    &:active,
    &:hover {
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cpath%20fill%3D%22rgb(51%2C%2051%2C%2051)%22%20d%3D%22M5.8%2C7.3l3.5%2C4.6c0.1%2C0.1%2C0.2%2C0.1%2C0.3%2C0l3.6-4.6C13.3%2C7.1%2C13.2%2C7%2C13%2C7H6C5.8%2C7%2C5.7%2C7.1%2C5.8%2C7.3z%22%2F%3E%3C%2Fsvg%3E");
    }
    &:disabled {
        opacity: 0.35;
    }
}

// disable dropdown arrow in IE
select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    background: transparent no-repeat center right;
    border: none;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Benton Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    outline: none;
    width: 100%;
}
</style>
