<template>
    <div :class="['dropdown-wrapper', kind, {disabled: disabled}]" :disabled="disabled" v-click-outside="hideOptions">
        <div :class="['dropdown', kind]" :disabled="disabled" @click="toggleOptions"><span> {{selectedOptionSpan}}</span></div>
        <div v-if="optionsVisible" class='dropdown-list'>
            <t-checkbox-single :checked="selectedAll" @change="toggleAll">(All)</t-checkbox-single>
            <t-checkbox-single v-for="item in value" v-bind:key="item.id" 
                :val="item.text" 
                :checked="item.selected"
                @change="selectOption(item)">
                    {{ item.text }}
            </t-checkbox-single>
        </div>
    </div>
</template>

<script> 
import TCheckboxSingle from './TCheckboxSingle.vue'

export default {
    name: 'TDropdownMultiple',
    components: { TCheckboxSingle },
    data() {
        return {
            optionsVisible: false,
        }
    },
    props: {
        value: { type: Array },
        kind: {
            type: String,
            default: 'outline',
            validator: function (value) {
                return ['icon', 'line', 'outline'].indexOf(value) !== -1
            }
        },
        disabled: { 
            type: Boolean,
            default: false
        }
    },
    computed: {
        selectedOptionSpan: function () {
            if (this.selectedAll) return '(All)'
            const values = []
            for (const option of this.value) {
                if (option.selected) {
                    values.push(option.text)
                }
            }
            return values.length === 1 ? values[0] : `${values.length} selected`                         
        },
        selectedAll: function() {
            // if none of the options have selected set to false
            return this.value.filter(option => !option.selected).length === 0
        }
    },
    methods: {
        selectOption (item) {
            const updated = this.value.slice()
            updated.find((o) => {
                if (o.id === item.id) {
                    o.selected = !o.selected
                }
            })
            this.$emit('input', updated)
        },
        toggleAll () {
            const update = !this.selectedAll
            this.$emit('input', this.value.map(item => {
                item.selected = update
                return item
            }).slice())
        },
        toggleOptions () {
            if (this.disabled) {
                this.optionsVisible = false
            } else {
                this.optionsVisible = !this.optionsVisible
            }
        },
        hideOptions () {
            this.optionsVisible = false
        }
    },
    directives: {
        clickOutside: {
            bind: function (el, binding, vnode) {
                document.body.addEventListener('click', function (event) {
                    const clickedInsideEl = el == event.target || el.contains(event.target)
                    if (!clickedInsideEl) {
                        vnode.context[binding.expression](event)
                    }
                })
            },
            unbind: function () {
                document.body.removeEventListener('click', this.event)
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    .dropdown-wrapper {
        font-family: 'Benton Sans', Arial, Helvetica, sans-serif;
        font-size: 12px;
        cursor: default;
        border-color:rgb(203, 203, 203);
        box-sizing: border-box;
        display: inline-block;
        height: 0;
        min-height: 24px;
        width: 100px;
        position: relative;

        &:active:not(.disabled), &:hover:not(.disabled) {
            border-color: rgb(51, 51, 51);
        }

        &:focus-within {
            border-color: rgb(45, 204, 151);
        }
        
        &.disabled {
            opacity: 35%;
        }
    }

    .dropdown-wrapper.outline {
        border-radius: 1px;
        border-style: solid;
        border-width: 1px;
        &::after {
            background:rgb(230, 230, 230);
            bottom: 0;
            content: '\200B';
            pointer-events: none;
            position: absolute;
            right: 18px;
            top: 0;
            width: 1px;
        }
    }

    .dropdown-wrapper.line {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    .dropdown-wrapper > .dropdown {
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cpath%20fill%3D%22rgb(102%2C%20102%2C%20102)%22%20d%3D%22M5.8%2C7.3l3.5%2C4.6c0.1%2C0.1%2C0.2%2C0.1%2C0.3%2C0l3.6-4.6C13.3%2C7.1%2C13.2%2C7%2C13%2C7H6C5.8%2C7%2C5.7%2C7.1%2C5.8%2C7.3z%22%2F%3E%3C%2Fsvg%3E');
        &:active, &:hover {
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cpath%20fill%3D%22rgb(51%2C%2051%2C%2051)%22%20d%3D%22M5.8%2C7.3l3.5%2C4.6c0.1%2C0.1%2C0.2%2C0.1%2C0.3%2C0l3.6-4.6C13.3%2C7.1%2C13.2%2C7%2C13%2C7H6C5.8%2C7%2C5.7%2C7.1%2C5.8%2C7.3z%22%2F%3E%3C%2Fsvg%3E');    
        }
        &:disabled {
            opacity: .35;
        }
    }

    .dropdown-list {
        width: 100%;
        position: absolute;
        background: white;
        z-index: 100;
        border: 1px solid black;

        & > * {
            padding: 0 5px;
            width: 100%;
        }
    }

    .dropdown {
        -webkit-appearance: none;
        background: transparent no-repeat center right;
        border: none;
        border-radius: 0;
        color: rgba(0, 0, 0, 0.8);
        outline: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        span {
            display: block;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-left: 5%;
        }
    }

    // make the text non-selectable
    * {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
    }

</style>