<template>
  <div>
        <div 
            v-for="option in options" 
            :key="option.id" 
            class="radio-group-wrapper"
            @click="selectOption(option)">
            <input type="radio" 
                :name="radioGroupID"
                :disabled="disabled"
                :id="radioGroupID + '-' + option.id"
                :value="option.text"
                :checked="option.id === options[0].id"/> 
            <label :for="radioGroupID + '-' + option.id">{{ option.text }}</label>
        </div>
  </div>
</template>

<script>
export default {
    name: "TRadioGroup",
    data () {
        return {
            radioGroupID: "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
                /[xy]/g,
                function(c) {
                var r = (Math.random() * 16) | 0,
                    v = c == "x" ? r : (r & 0x3) | 0x8;
                return v.toString(16);
                }
            )
        }
    },
    props: {
        disabled: { 
            type: Boolean,
            default: false
        },
        options: {
            type: Array,
            default: function() {
                return [
                    { id:1, text: "Option 1" },
                    { id:2, text: "Option 2" },
                    { id:3, text: "Option 3" },
                ]
            }
        }
    },
    methods: {
        selectOption (option) {
            if (this.disabled === false) {
                this.$emit('input', option.id)
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    $image_darker: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2216%22%20width%3D%2216%22%3E%3Ccircle%20fill%3D%22rgb(51%2C%2051%2C%2051)%22%20transform%3D%22translate(-2%2C%20-2)%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%223%22%2F%3E%3C%2Fsvg%3E');
    $image_lighter: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2216%22%20width%3D%2216%22%3E%3Ccircle%20fill%3D%22rgb(102%2C%20102%2C%20102)%22%20transform%3D%22translate(-2%2C%20-2)%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%223%22%2F%3E%3C%2Fsvg%3E');

    .radio-group-wrapper {
        display: flex;

        input {
            box-sizing: border-box;
            flex-shrink: 0;
            height: 14px;
            margin: 0;
            margin-top: 3px;
            opacity: 0;
            padding: 0;
            pointer-events: none;
            width: 14px;

            &:disabled + label::before, &:disabled + label {
                opacity: .35;
            }

            &:checked:disabled + label::before {
                content: $image_darker
            }

            &:hover:not(:disabled) + label::before {
                border-color: rgb(51, 51, 51);
                content: $image_darker
            }

            &:checked:hover:not(:disabled) + label::before {
                border-color: rgb(51, 51, 51);
                content: $image_darker
            }

            &:checked + label::before {
                border-color: rgb(51, 51, 51);
                content: $image_lighter
            }

            &:focus-within:not(:disabled) + label::before {
                border-color: rgb(90, 176, 224)
            }
        }

        label {
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            color:rgba(0, 0, 0, 0.8);
            cursor: default;
            font-family: 'Benton Sans', Arial, Helvetica, sans-serif;
            font-size: 12px;
            line-height: 20px;
            position: relative;
            user-select: none;

            &:not(:empty) {
                padding-left: 6px;
            }
            
            &::before {
                background-color:white;
                border: 1px solid rgb(102, 102, 102);
                border-radius: 100%;
                box-sizing: border-box;
                content: '\200B';
                height: 14px;
                left: -14px;
                position: absolute;
                top: 3px;
                width: 14px;
            }
        }
    }
</style>