<template>
    <div :class="['spinner-border', {'text-light': color === 'light'}]"></div>
</template>

<script>
export default {
    name: "TSpinner",
    props: {
        color: {
            type: String,
            validator: function(value) {
                return ['light', 'dark'].indexOf(value) !== -1
            }
        }
    }
}
</script>

<style lang="scss" scoped>

    .spinner-border {
        width: 3rem;
        height: 3rem;
        border-width: .5em;
    }

</style>