<template>
    <div class="stepper-wrapper">
        <input
            :id="stepperID"
            type="number"
            :value="value"
            :disabled="disabled"
            :min="min"
            :max="max"
            :step="step"
            @change="onChange"
            @keypress="enterIEfix"
            />
        <div class="buttons-wrapper">
            <button :disabled="disabled || value >= max" class="arrow-button up" @click="updateStep('up')"/>
            <button :disabled="disabled || value <= min" class="arrow-button down" @click="updateStep('down')"/>
        </div>
    </div>
</template>

<script>
export default {
    name: "TStepper",
    props: {
        value: { type: Number },
        disabled: { type: Boolean, default: false },
        min: { type: Number },
        max: { type: Number },
        step: { type: Number, default: 1 },
        pageStep: { type: Number, default: 10 }
    },
    data () {
        return {
            stepperID: "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
                /[xy]/g,
                function(c) {
                var r = (Math.random() * 16) | 0,
                    v = c == "x" ? r : (r & 0x3) | 0x8;
                return v.toString(16);
                }
            )
        }
    },
    computed: {
        floatingPoint: function() { return !Number.isInteger(this.step) }// use floats if step is a float
    },
    methods: {
        onChange: function($event) {
            $event.preventDefault()
            const value = this.floatingPoint ? parseFloat($event.target.value) : parseInt($event.target.value)
            const min = this.floatingPoint ? parseFloat(this.min) : parseInt(this.min)
            const max = this.floatingPoint ? parseFloat(this.max) : parseInt(this.max)
            const step = this.floatingPoint ? parseFloat(this.step) : parseInt(this.step)
            
            // if the user input has non-numeric chars, set input content back to previous value
            if (!value) {
                $event.target.value = this.value
                return
            }

            const roundedValue = this._roundInput(value, min, max, step)
            // if the new value is the same as the current, vue does not update the input field content
            // update explicitly
            if (roundedValue === this.value) {
                $event.target.value = this.value
            }
            
            this.$emit('input', roundedValue)
        },
        updateStep: function(direction) {
            const sign = direction == 'up'? 1: -1;
            const value = Math.round( (this.value + Math.round(this.step * sign * 100) / 100 ) * 100 ) / 100
            this.$emit('input', value)
        },
        enterIEfix: function($event) {
            if ($event.keyCode === 13) {
                $event.preventDefault()
                this.onChange($event)
            }
        },
        _roundInput: function(value, min, max, step){
            if (value > max) return max
            if (value < min) return min

            const steps = (max - min) / step
            const normalized = Math.round( (value - min) * steps / (max - min) ) / steps // bring to 0-1 range
            return Math.round( (normalized * (max-min) + min ) * 100 ) / 100;
        }
    }
}
</script>

<style lang="scss" scoped>
    $arrow_up_light: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2211%22%3E%3Cpath%20transform%3D%22translate(0%20-1)%22%20fill%3D%22rgb(102%2C%20102%2C%20102)%22%20d%3D%22M6%207.7L8.8%204c.1%200%20.3%200%20.3.1L12%207.7c0%20.1%200%20.3-.2.3H6.2C6%208%206%207.8%206%207.7z%22%2F%3E%3C%2Fsvg%3E');
    $arrow_down_light: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2211%22%3E%3Cpath%20transform%3D%22rotate(180)%20translate(-18%20-11.5)%22%20fill%3D%22rgb(102%2C%20102%2C%20102)%22%20d%3D%22M6%207.7L8.8%204c.1%200%20.3%200%20.3.1L12%207.7c0%20.1%200%20.3-.2.3H6.2C6%208%206%207.8%206%207.7z%22%2F%3E%3C%2Fsvg%3E');
    $arrow_up_dark: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2211%22%3E%3Cpath%20transform%3D%22translate(0%20-1)%22%20fill%3D%22rgb(51%2C%2051%2C%2051)%22%20d%3D%22M6%207.7L8.8%204c.1%200%20.3%200%20.3.1L12%207.7c0%20.1%200%20.3-.2.3H6.2C6%208%206%207.8%206%207.7z%22%2F%3E%3C%2Fsvg%3E'); 
    $arrow_down_dark: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2211%22%3E%3Cpath%20transform%3D%22rotate(180)%20translate(-18%20-11.5)%22%20fill%3D%22rgb(51%2C%2051%2C%2051)%22%20d%3D%22M6%207.7L8.8%204c.1%200%20.3%200%20.3.1L12%207.7c0%20.1%200%20.3-.2.3H6.2C6%208%206%207.8%206%207.7z%22%2F%3E%3C%2Fsvg%3E');

    .stepper-wrapper {
        display: inline-block;
        position: relative;

        // disable default input clear button in IE
        input::-ms-clear { display: none; }

        input {
            border: 1px solid rgb(203, 203, 203);
            border-radius: 1px;
            box-sizing: border-box;
            height: 24px;
            outline: none;
            padding: 0;
            padding-left: 6px;
            padding-right: 18px;
            width: 100%;

            // disable default up/down arrows
            -moz-appearance:textfield;
            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &:hover:enabled, &:active:enabled, &:focus:enabled {
                border-color: rgb(102, 102, 102)
            }

            &:disabled {
                opacity: .35;
            }
        }

        .buttons-wrapper {
            background: rgb(230, 230, 230);
            bottom: 1px;
            box-sizing: border-box;
            display: inline-flex;
            flex-direction: column;
            padding-left: 1px;
            position: absolute;
            right: 1px;
            top: 1px;
            width: 17px;

            .arrow-button {
                background:white;
                background-position-x: center;
                border: none;
                box-sizing: border-box;
                height: calc(50% - 0.5px);
                padding: 0;
                width: 100%;

                &:disabled {
                    opacity: .35;
                }

                &.up {
                    background-image: $arrow_up_light;
                    &:hover { background-image: $arrow_up_dark }
                }

                &.down {
                    background-image: $arrow_down_light;
                    &:hover { background-image: $arrow_down_dark }
                }
            }
        }
    }
</style>