<template>
    <div :class="['text-field-wrapper', kind]">
        <div class="input-wrapper">
            <input
                :type="type"
                :id="textFieldID"
                :placeholder="placeholder"
                ref="input"
                :disabled="disabled"
                :class="{ error: errorMessage }"
                v-model="displayValue"
                v-on="inputListeners"
                @blur="isInputActive = false"
                @focus="isInputActive = true"
            />
            <div v-if="!disabled && this.value !== ''" class="clear-button" @click="clearInput"></div>
            <div :class="['search_icon', { enabled: this.value === '' }]"></div>
        </div>
        <label v-if="label !== 'None'" :for="textFieldID">{{ label }}</label>
        <div v-if="errorMessage !== ''" class="error-message">{{ errorMessage }}</div>
    </div>
</template>

<script>
import { UniqueComponentIDMixin } from "./UniqueComponentIDMixin.js";

export default {
    name: "TTextField",
    props: {
        kind: {
            type: String,
            default: "outline",
            validator: function(value) {
                return ["line", "outline", "search"].indexOf(value) !== -1;
            },
        },
        type: {
            type: String,
            default: "text",
            validator: function(value) {
                return ["email", "password", "text"].indexOf(value) !== 1;
            },
        },
        value: { type: [String, Number] },
        disabled: {
            type: Boolean,
            default: false,
        },
        errorMessage: { type: String },
        label: { type: String },
        placeholder: { type: String },
        refProp: { type: String },
        formatting: { type: String },
    },
    computed: {
        inputListeners: function() {
            let vm = this;
            // `Object.assign` merges objects together to form a new object
            return Object.assign(
                {},
                // We add all the listeners from the parent
                this.$listeners,
                // Then we can add custom listeners or override the
                // behavior of some listeners.
                {
                    // This ensures that the component works with v-model
                    input: function(event) {
                        vm.$emit("input", event.target.value);
                    },
                }
            );
        },
        displayValue: {
            get: function() {
                if (this.value === null) return this.value;
                if (this.isInputActive) {
                    // Cursor is inside the input field. unformat display value for user
                    return this.value;
                } else {
                    // User is not modifying now. Format display value for user interface
                    if (this.value != null) {
                        if (this.formatting === "euro") {
                            return new Intl.NumberFormat("nl-NL", { style: "currency", currency: "EUR", minimumFractionDigits: 0 }).format(parseInt(this.value));
                        }
                        if (this.formatting === "date") {
                            return new Date(this.value).toLocaleDateString("NL-NL", { day: "numeric", month: "long", year: "numeric" });
                        }
                        if (this.formatting === "datetime") {
                            return new Date(this.value).toLocaleDateString("NL-NL", { day: "numeric", month: "long", year: "numeric", hour: "2-digit", minute: "2-digit" });
                        }
                        if (this.formatting === "meter2") {
                            return this.value.toString() + " m²";
                        }
                        if (this.formatting === "percentage") {
                            if (!isNaN(this.value)) {
                                return Math.round(this.value * 1000) / 10 + "%";
                            } else {
                                return this.value;
                            }
                        }
                    }
                    return this.value;
                }
            },
            set: function(modifiedValue) {
                // Recalculate value after ignoring "$" and "," in user input
                let newValue = parseFloat(modifiedValue.replace(/[^\d.]/g, ""));
                // Ensure that it is not NaN
                if (isNaN(newValue)) {
                    newValue = 0;
                }
                // Note: we cannot set this.value as it is a "prop". It needs to be passed to parent component
                // $emit the event so that parent component gets it
                //this.$emit('input', this.$emit('input', event.target.value))
            },
        },
    },
    data() {
        return {
            textFieldID: this.generateUniqueComponentID(),
            isInputActive: false,
        };
    },
    mixins: [UniqueComponentIDMixin],
    methods: {
        clearInput: function() {
            this.$emit("input", "");
        },
        focus: function() {
            this.$refs.input.focus();
        },
    },
};
</script>

<style lang="scss" scoped>
$clear_button_darker: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22rgb(51%2C%2051%2C%2051)%22%20d%3D%22M8.9%202.9L3%208.9c-.2.2-.6.2-.8%200-.2-.2-.2-.6%200-.8l5.9-5.9c.2-.2.6-.2.8%200%20.2.2.2.5%200%20.7z%22%2F%3E%3Cpath%20fill%3D%22rgb(51%2C%2051%2C%2051)%22%20d%3D%22M3%202.2l5.9%205.9c.2.2.2.6%200%20.8-.2.2-.6.2-.8%200L2.2%203c-.2-.2-.2-.6%200-.8.3-.2.6-.2.8%200z%22%2F%3E%3C%2Fsvg%3E");
$clear_button_lighter: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22rgb(102%2C%20102%2C%20102)%22%20d%3D%22M8.9%202.9L3%208.9c-.2.2-.6.2-.8%200-.2-.2-.2-.6%200-.8l5.9-5.9c.2-.2.6-.2.8%200%20.2.2.2.5%200%20.7z%22%2F%3E%3Cpath%20fill%3D%22rgb(102%2C%20102%2C%20102)%22%20d%3D%22M3%202.2l5.9%205.9c.2.2.2.6%200%20.8-.2.2-.6.2-.8%200L2.2%203c-.2-.2-.2-.6%200-.8.3-.2.6-.2.8%200z%22%2F%3E%3C%2Fsvg%3E");
$search_button_darker: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22rgb(51%2C%2051%2C%2051)%22%20d%3D%22M7.5%200C5.015%200%203%202.015%203%204.5S5.015%209%207.5%209%2012%206.985%2012%204.5%209.985%200%207.5%200zm0%208C5.567%208%204%206.433%204%204.5S5.567%201%207.5%201%2011%202.567%2011%204.5%209.433%208%207.5%208z%22%2F%3E%3Cpath%20fill%3D%22rgb(51%2C%2051%2C%2051)%22%20d%3D%22M5.026%207.858l-3.96%203.96c-.243.243-.641.243-.884%200s-.243-.641%200-.884l3.96-3.96c.243-.243.641-.243.884%200s.243.641%200%20.884z%22%2F%3E%3C%2Fsvg%3E");
$search_button_lighter: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22rgb(102%2C%20102%2C%20102)%22%20d%3D%22M7.5%200C5.015%200%203%202.015%203%204.5S5.015%209%207.5%209%2012%206.985%2012%204.5%209.985%200%207.5%200zm0%208C5.567%208%204%206.433%204%204.5S5.567%201%207.5%201%2011%202.567%2011%204.5%209.433%208%207.5%208z%22%2F%3E%3Cpath%20fill%3D%22rgb(102%2C%20102%2C%20102)%22%20d%3D%22M5.026%207.858l-3.96%203.96c-.243.243-.641.243-.884%200s-.243-.641%200-.884l3.96-3.96c.243-.243.641-.243.884%200s.243.641%200%20.884z%22%2F%3E%3C%2Fsvg%3E");

// disable default input clear button in IE
input::-ms-clear {
    display: none;
}

.text-field-wrapper {
    width: 200px;
    color: rgba(0, 0, 0, 0.56);
    display: inline-flex;
    flex-direction: column;
    font-family: "Benton Sans", Arial, Helvetica, sans-serif;
    position: relative;

    .input-wrapper {
        display: flex;
        order: 1;

        input {
            -webkit-appearance: none;
            border: 0 solid rgb(203, 203, 203);
            box-sizing: border-box;
            color: rgba(0, 0, 0, 0.8);
            font-size: 12px;
            width: 100%;
            height: 20px;
            outline: none;
            padding-right: 24px;
            &:disabled {
                background-color: rgba($color: #faf8f8, $alpha: 1);
            }

            &:hover:not(:disabled):not(.error) {
                border-color: rgb(51, 51, 51);
            }

            &:active:not(:disabled),
            &:focus:not(:disabled) {
                border-color: rgb(45, 204, 151);
            }

            &.error {
                border-color: rgb(235, 68, 84);
            }
        }

        .clear-button {
            align-items: center;
            display: flex;
            height: 24px;
            justify-content: center;
            position: absolute;
            right: 0;
            width: 24px;

            &::before {
                content: $clear_button_lighter;
                margin-top: 2px;
            }

            &:hover {
                &::before {
                    content: $clear_button_darker;
                }
            }
        }

        .search_icon {
            display: none;
        }
    }

    label {
        display: block;
        font-size: 10px;
        line-height: 10px;
        order: 0;

        &:not(:empty) {
            margin-bottom: 3px;
        }
    }

    .error-message {
        display: block;
        order: 3;
        color: rgb(235, 68, 84);
        font-size: 10px;
        line-height: 10px;
        margin-top: 3px;
    }
}

.text-field-wrapper.outline,
.text-field-wrapper.search {
    input {
        border-radius: 1px;
        border-width: 1px;
        padding-left: 6px;
    }
}

.text-field-wrapper.line {
    input {
        border-radius: 0;
        border-bottom-width: 1px;
    }

    .input-wrapper + input:not(:focus) ~ label {
        display: none;
    }
}

.text-field-wrapper.search {
    .search_icon.enabled {
        align-items: center;
        display: flex;
        width: 12px;
        height: 12px;
        justify-content: center;
        position: absolute;
        top: 5px;
        right: 5px;

        &::before {
            content: $search_button_lighter;
            margin-top: 5px;
        }
    }
}
</style>
